/* line 3, ../../sass/base.scss */
html {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 625%;
    background:#fff;
}

/* line 10, ../../sass/base.scss */
body {
    font-family: Microsoft YaHei, "微软雅黑", Verdana, Geneva, sans-serif;
    margin: 0;
    font-size: .14rem;
    line-height: 1.5;
    color: #333333;
}


/* line 47, ../../sass/base.scss */
li {
    list-style: none;
}

/* line 48, ../../sass/base.scss */
h1, h2, h3, h4, h5, h6, div, p, dl, dd, dt, ul, ol, li, menu {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

/* line 50, ../../sass/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/* line 53, ../../sass/base.scss */
em, strong, b, i {
    font-weight: normal;
    font-style: normal;
}

/* line 54, ../../sass/base.scss */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* line 57, ../../sass/base.scss */
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

/* line 61, ../../sass/base.scss */
img {
    vertical-align: middle;
    border: none;
    width: 100%;
    height: auto;
}

/* line 67, ../../sass/base.scss */
a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
}

/* line 73, ../../sass/base.scss */
input {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
}
/* line 75, ../../sass/base.scss */
input:focus ,button:focus{
    outline: none;
}
/* line 78, ../../sass/base.scss */
input:active {
    outline: none;
}

/* line 87, ../../sass/base.scss */
input[type=number] {
    -webkit-appearance: none;
}
/* line 88, ../../sass/base.scss */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* line 91, ../../sass/base.scss */
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* line 96, ../../sass/base.scss */
.hide {
    display: none;
}

/* line 100, ../../sass/base.scss */
.c-blue {
    color: #2f87de;
}





/* dorp end */
@media screen and (min-width: 640px) and (max-width: 719px) {
    /* line 685, ../../sass/base.scss */
    html {
        font-size: 1060%;
    }
}
@media screen and (min-width: 720px) and (max-width: 749px) {
    /* line 691, ../../sass/base.scss */
    html {
        font-size: 1130%;
    }
}
@media screen and (min-width: 750px) {
    /* line 697, ../../sass/base.scss */
    html {
        font-size: 1275%;
    }

}
@media only screen and (max-width: 639px) and (min-width: 560px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 715, ../../sass/base.scss */
    html {
        font-size: 1000%;
    }
}
@media only screen and (max-width: 559px) and (min-width: 480px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 721, ../../sass/base.scss */
    html {
        font-size: 900%;
    }
}
@media only screen and (max-width: 479px) and (min-width: 420px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 727, ../../sass/base.scss */
    html {
        font-size: 780%;
    }
}
@media only screen and (max-width: 419px) and (min-width: 365px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 733, ../../sass/base.scss */
    html {
        font-size: 650%;
    }
}
@media only screen and (max-width: 364px) and (min-width: 360px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 739, ../../sass/base.scss */
    html {
        font-size: 645%;
    }
}
@media only screen and (max-width: 359px) and (min-width: 340px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 745, ../../sass/base.scss */
    html {
        font-size: 625%;
    }
}
@media only screen and (max-width: 339px) and (min-width: 320px) {
    /* line 4, ../../sass/activitys/base.scss */
    /* line 751, ../../sass/base.scss */
    html {
        font-size: 570%;
    }
}
/* 动画 */
@-webkit-keyframes transup {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@keyframes transup {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@-webkit-keyframes transbg {
    0% {
        background: rgba(0, 0, 0, 0.1);
    }
    100% {
        background: rgba(0, 0, 0, 0.5);
    }
}
/* 按钮 bigin */
.btn{
    display: inline-block;
    width:100%;
    height: 45px;
    line-height: 45px;
    text-align:center;
    font-size: 20px;
    color:#fff;
    border:none;
    border-radius: 20px;
}
.btn-default{
    background:#2f87de;
}
.btn-disabled{
    background:#aed4f9;
}
.btn-cancel{
    margin-top: .1rem;
    background:#b6b6b6;
}
/* 按钮 end */


/* 加载 */
.global-loading {
    width: .3rem;
    height: .3rem;
    background-image: url(../images/ajaxloading.png);
    background-size: cover;
    position:fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(-50%, -60%);
    transform: rotate(-50%, -60%);
    z-index: 9;
    -webkit-animation-name: loading;
    animation-name: loading;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
@keyframes loading{
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading{
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* 网络超时 */
.web-timeout{
    text-align:center;
    font-size: .12rem;
    color:#999;
    line-height: .2rem;
}
.ion-timeout{
    display:inline-block;
    width: .17rem;
    height: .17rem;
    margin: -.03rem .04 0 0;
    background-image:url(../images/error.png);
    background-size: cover;
    vertical-align:middle;
}
.loading-error{
    text-align:center;
    line-height: 30px;
}
/* 弹出错误提示 */
.pop-error{
    padding: 4px 16px;
    background: rgba(0,0,0, .6);
    position:fixed;
    border-radius: 12px;
    left:50%;
    bottom: -60px;;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index:9;
    font-size: 12px;
    color:#fff;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity:0;
}